/* Стили для вывода превью */
.img-item {
    position: relative;
    display: inline-block; /* Change this as needed */
    margin: 10px;
  }
  
  .img-item img {
    display: block; /* Ensures the image takes up the full container */
    width: 300px!important; /* Adjust based on your needs */
    height: auto; /* Adjust based on your needs */
    margin: 10px;

  }
  
  .remove-img {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 2px 10px; /* Adjust size as needed */
    cursor: pointer;
    text-decoration: none; /* Removes underline from the link */
    font-weight: bold; /* Makes the 'X' bolder */
    border-radius: 30px; /* Rounds the bottom-left corner of the button */
  }