.grid_blog {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  grid-gap: 5rem 7rem;
}
.block {
  position: relative;
  border-radius: 6px;
  border: 1px solid #62626266;
  padding: 2rem;
  transition: all 0.2s ease-in;
}
.arrow {
  position: absolute;
  padding:30px;
  top: -20px; /* Позиционирование стрелки сверху */
  right: 50px; /* Позиционирование стрелки справа */
  transform: translateY(100%); /* Начальное скрытие стрелки вниз */
  width: 0;
  height: 0;
  background-color: #477edd;
  transition: transform 0.3s ease;
  opacity: 0; /* Скрытие стрелки */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.block:hover {
  background-color: #6ba1ff;
  box-shadow: 0px 0px 50px 10px rgba(107, 161, 255, 0.4);
  border: none;
}

.block:hover .arrow {
  transform: translateY(0); /* Показать стрелку */
  opacity: 1;
}

.subtBlog {
  font-size: 1.7rem;
  font-weight: 400;
}

.titleBlog {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.6;
}

.body-text {
  color: #ffffff4d;
  font-size: 1.4rem;
  line-height: 1.8;
}

.reload {
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reload-icon img {
  margin-bottom: 20px;
  width: 8.5rem;
  /* Add any other styles you want for the reload icon */
}

.reloadText {
  font-size: 2.9rem;
  border-bottom: 1px dashed #ffffff;
  /* Add any other styles you want for the text */
}




@media (max-width: 1024px) {
.blog_cats_wrapper.blog{
  width: 75%!important;
}
.blog_cats.blog
{
  margin-bottom: -1.5rem;
}
.subtBlog {
  font-size: 2rem;
  line-height: 2.5;
}
.titleBlog {
  font-size: 3rem;
  line-height: 1.5;
}
  .body-text {
  font-size: 2rem;
  line-height: 1.4;
}
}

@media (max-width: 768px) {
  .blog_cats_wrapper.blog {
    width: 95%!important;
  }
  .blog_cats.blog
{
  margin-bottom: -3.5rem;
  /* margin-bottom: -1.5rem; */
}
}
@media (max-width: 540px) {
.title.left
{
  align-items: left!important;
}
.subtBlog {
  font-size: 3rem;
  line-height: 2.5;
}
.titleBlog {
  font-size: 4rem;
    line-height: 1.3;
}
  .body-text {
    font-size: 3rem;
    line-height: 1.6;
}
}

