.contacts {
  position: relative;
  margin-bottom: 10rem;
}
.contacts_info {
  max-width: 54rem;
}
.contacts_desc {
  font-size: 2.4rem;
  line-height: 1.25;
}

.contacts_desc p a {
  color: #1478e8;
  text-decoration: none;
  border-bottom: 1px solid #1478e8;
}
.contacts_desc h1 {
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 15px;
  font-size: 38px;
}

.contacts_phone {
  margin: 6rem 0 0 0;
  line-height: 1.2;
  list-style-type: none;
}

.contacts_phone li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  font-size: 3.6rem;
}

.contacts_icons {
  display: inline-flex;
  align-items: center;
  margin-top: -0.4rem;
}

.contacts_links {
  list-style-type: none;
  font-size: 3rem;
  margin: 3rem 0 0 0;
}

.link_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.link_row div {
  padding: 0 2rem 1rem 2rem;
}

.custom-button {
  margin-top: 4rem;
  background-color: #2c5bbc;
  color: white;
  border: none;
  padding: 2rem 1.6em;
  font-size: 2.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-button:after {
  content: "";
  display: block; /* Задаем блочное отображение */
  width: 30px; /* Пример ширины стрелки */
  height: 30px; /* Пример высоты стрелки */
  margin-top: 18px;
  margin-left: 40px;
  background-size: contain;
  background-repeat: no-repeat; /* Убедимся, что фон не повторяется */
  background-image: url("../images/long-arrow-right.png"); /* Проверьте, что путь к изображению верный */
  transition: transform 0.2s ease;
}
.custom-button:hover:after {
  transform: translateX(10px);
}

.contacts_request {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  bottom: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dzin {
  text-align: center;
  margin-bottom: 6.5rem;
  width: 24.3rem;
}
.dzin_title img {
  width: 24.3rem;
  height: 5.34rem;
  /*background-image: url(dzin__title.png);*/
  /*background-size: contain;*/
  margin-left: auto;
  margin-right: auto;
}
.dzin_icon img {
  margin-bottom: 2.5rem;
  width: 4.1rem;
  height: 4.1rem;
  margin-top: -1rem;
  /*background-image: url("{{asset('dzin__icon.png')}}");*/
  background-size: contain;
  margin: -0.5rem auto 2rem;
}
.dzin_phone {
  font-size: 3rem;
  font-weight: 700;
}

.mail_icon img {
  display: block;
  justify-content: center;
  width: 5.1rem;
  height: 5.1rem;
  background-size: contain;
  margin: -0.5rem auto 2rem;
}
.mail_title {
  text-align: center;
  font-size: 2.4rem;
  margin-left: 1.5rem;
}

@media (max-width: 991px) {
  .link_row {
    margin-left: 0 !important;
  }

  .custom-button {
    font-size: 28px;
    padding: 10px 44px !important;
  }
  .custom-button p {
    width: 250px !important;
  }
  .title {
    font-size: 38px !important;
  }
  .contacts_desc h1 {
    font-size: 40px;
  }

  .desc_p {
    font-size: 18px !important;
  }
  .dzin {
    width: 100%;
    margin-top: 9rem;
  }
  .dzin_title img {
    width: 44.3rem ;
    height: 9.34rem;
  }
  .dzin_icon img {
    /* margin-bottom: 2.5rem; */
    width: 7.1rem;
    height: 7.1rem;
  }
  .dzin_phone {
    font-size: 5rem;
  }
  .mail_icon img {
    width: 7.1rem;
    height:7.1rem;
  }
  .mail_title {
    text-align: center;
    font-size: 4.4rem;
  }
  .zabavno{
    margin-top: 5rem;
    width: 100%;
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
   
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 30%;
  }
  /* .contacts_request {
    display: none;
  } */
}

@media (max-width: 770px) {
  .contacts .title {
    font-size: 4.5rem;
    text-align: left;
  }
}
@media (max-width: 560px) {
  .contacts_info {
    max-width:100% !important;
  }

  .custom-button p{
    width:200px !important;
    font-size: 20px;
  }
  /* .contacts_request {
    display: none;
  } */
  .d-flex {
    /* display: block; */
    display: flex !important; 
  }
}

@media (max-width: 400px){
  .custom-button p{
    width:150px !important;
    font-size: 16px;
  }
}
@media (max-width: 370px){
  .custom-button p{
    width:120px !important;
    font-size: 14px;
  }
}
