.aboutUs_content {
  letter-spacing: 0.1em;
  position: relative;
  padding-top: 1rem;
}
.aboutUs_desc h1,
.aboutUs_desc h2,
.aboutUs_desc h3,
.aboutUs_desc h4,
.aboutUs_desc p {
  max-width: 93rem;
}

.about-us-photo{
  position: absolute;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  top: 63rem;
  right: 23rem;
  width: 28.3rem;
  height: 38.7rem;
  background-image: url(../images/about-us-photo.jpg);
}
.aboutUs_desc h1,
.aboutUs_desc h2 {
  margin-top: 5rem;
  margin-bottom: 1.92rem;
  font-size: 4.8rem;
  font-weight: 800;
}
.aboutUs_desc p a {
  color: #1478e8;
  /* border-bottom: 1px solid #1478e8; */
}
.aboutUs_desc p a:after{
background: #1478e8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.breadcrumbs{
  display: none;
  position: absolute;
  top: -4rem;
  left: -2rem;
}
.breadcrumbs>span{
    font-size: 2.4rem;
    margin: 0 1.5rem 0 2rem;
  /* font-size: 1.8rem; */
}
.header-sub {
  font-size: 2.4rem;
  font-weight: 400;
  /* line-height: 1.25; */
  /* letter-spacing: 0.25em; */
  text-align: left;
  /* margin: 0; */
  /* font-size: 2.4rem;
    line-height: 1.25; */
  /* margin: 3.12rem 0px 0px; */
}
p + p {
  /* margin-top: 1.3em; */
}
.aboutUs_desc .hugeFont {
  max-width: 108rem;
  font-size: 7rem;
  line-height: 1.2;
  margin: 10.4rem 0rem;
  /* font-family: Proba Pro,sans-serif; */
}
.aboutUs_desc .largeFont {
  font-size: 3rem;
  letter-spacing: 0.03em;
  line-height: 1.4;
  /* width: 90rem; */
  /* margin-top: 3.9rem; */
}
.aboutUs_desc .descFont{
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 1.3;
}

.block_quote {
  padding: 7.2rem 0;
  text-align: center;
  margin: 0;
}
.block_quote p {
  font-size: 3.5rem;
  line-height: 1.8;
  margin: 0;
}
.aboutUs_stats{
  position: relative;
}
.about-us-photo-2{
  position: absolute;
  z-index: -1;
  left: 2.7rem;
  top: 35.4rem;
  width: 35.5rem;
  height: 21rem;
  background-image: url(../images/about-us-photo-2.jpg);
}
.about-us-photo-3{
  position: absolute;
  top: 13.4rem;
  right: 1rem;
  z-index: -1;
  width: 24rem;
  height: 55.9rem;
  background-image: url(../images/about-us-photo-3.jpg);
}
.stats li {
  margin-bottom: 4rem;
  width: 33.33%;
}
.stats {
  list-style-type: none;
  display: flex;
  max-width: 121rem;
  text-align: left;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3rem 0 4rem 12rem;
  justify-content: flex-start;
}

.stats_count {
  font-size: 13.5rem;
  color: #2d60e6;
  font-weight: 700;
  line-height: 1;
  font-family: Bebas Neue, sans-serif;
  letter-spacing: 0.05em;
}
.stats_desc {
  font-size: 4rem;
  margin-top: -6rem;
  padding-left: 3rem;
}
.aboutUs_stats_footer {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}
ul, ol{
  padding: 0;
}
.aboutUs_virtues{
  position: relative;
  margin-bottom: 18.5rem;
}
.aboutUs_virtues:before {
  bottom: -12rem;
width: 134rem;
height: 88.1rem;
content: "";
position: absolute;
left: 0;
/* width: 62.32558139534884rem;
height: 40.97674418604651rem;
bottom: 0; */
/* background-image: url(../images/about-us-grid-2.png); */
filter: saturate(200%) invert(100%);
background-size: contain;
background-position: 50%;
pointer-events: none;
z-index: 1;
}
.about-us-photo-4{
  z-index: -1;
  position: absolute;
  top: 16rem;
  left: 2.6rem;
  width: 30.7rem;
  height: 22rem;
  background-image: url(../images/about-us-photo-4.jpg);
}
.about-us-photo-5{
  position: absolute;
  bottom: 4rem;
  right: 16rem;
  width: 28.2rem;
  height: 60.1rem;
  background-image: url(../images/about-us-photo-5.jpg);
  background-size: cover;
  background-position: 50%;
  z-index: -1;
}
.valuesList {
  display: flex;
  margin: 4rem 0 4rem 0;
  list-style-type: none;
  justify-content: space-between;
}

.valuesList li {
  align-items: start;
  padding: 2rem 5rem 3rem 0;
  width: 100%;
}
.num{
  font-size: 1.8rem;
  font-weight: 700;
  color: #6ba1ff;
}
.item_column {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.item_title {
  font-size: 3rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.25;
  position: relative;
  letter-spacing: 0.025em;
}

hr {
  margin-inline-start: 0;
  /* position: absolute; */
  bottom: 11rem;
  height: 0.4rem;
  left: 0;
  width: 3.8rem;
}
.item_desc {
  /* max-width: 35rem; */
  font-size: 1.8rem;
  color: #b2afb2;
  letter-spacing: 0.025em;
  margin-top: 2rem;
  line-height: 1.2;
}

.aboutUs_certificates {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 0 4rem;
}
.aboutUs_certificates ul {
  z-index: 2;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5.5rem;
  padding-right: 6rem;
}
.aboutUs_certificates li {
  padding: 1.5rem;
}
.aboutUs_certificates img {
  max-height: 14rem;
}

.certificates_info {
  max-width: 29rem;
  z-index: 2;
}
.certificates-info_desc {
  padding-left: 0;
  padding-right: 0;
  line-height: 2.4rem;
  font-size: 2.2rem;
  margin-top: -4.5rem;
  padding-left: 3.5rem;
}

.criteria {
  list-style: none;
  padding-left: 3rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.criteria li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.criteria li ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.35em; /* Adjust the vertical alignment of the bullet */
  width: 1rem; /* Set the desired bullet size */
  height: 1rem; /* Set the desired bullet size */
  background-color: #abc1e4; /* Set the desired bullet color */
  border-radius: 50%;
}

.aboutCompany {
  padding-top: 10rem;
  font-size: 7.2rem;
}
.about-lines-container {
  position: absolute;
  left: 0;
  top: -3rem;
  pointer-events: none;
  /* background-image: url(../images/about-us-grid.png); */
  /* -webkit-transform: rotateX(60deg) rotateY(60deg); */
  opacity: 0.7;
  filter: saturate(200%) invert(100%);

  /* filter: hue-rotate(258deg); */
  width: 130.7rem;
  height: 84.5rem;
  z-index: -1;
}
@media (max-width: 1024px) {
  .breadcrumbs{
    display: block;
}
}

@media (max-width: 768px) {
  .aboutUs_desc p {
    max-width: 130rem;
}
  .aboutUs_desc h1{
  margin-top: 10.4rem;
  font-size: 7rem;
  }
  .breadcrumbs{
    top:0;    
  }
  .aboutUs_desc h2 {
    font-size: 6.5rem;
  }
  .aboutUs_desc .largeFont {
    font-size: 3.5rem;
  }
  .aboutUs_desc .descFont {
    font-size: 3rem;
    line-height: 1.4;
  }

  .stats_count{
    font-size: 18.5rem;
  }
  .header-sub {
    font-size: 3rem;
  }
  .about-lines-container {
    width: 114.7rem;
      /* position: absolute; */
      left: 53px;
      top: -22rem;
  }
  .about-us-photo, .about-us-photo-2, .about-us-photo-3, .about-us-photo-4, .about-us-photo-5{
    display: none;
  }
  .num {
    font-size: 3.8rem;
  }
  .item_desc {
    max-width: 35rem;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }
  .item_title{
    font-size:4rem;
  }
  .criteria li {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .aboutUs_virtues:before {
    width: 98rem;
  }
  .aboutUs_desc .hugeFont {
    font-size: 8rem;
    margin: 10.4rem 0 0 0;
    line-height: 1;
}
.about-us-photo{
  display: none;
}
}
@media (max-width: 550px) {
  .stats {
    /* display: flex;
        max-width: 121rem; */
    padding-left: 0;
    padding-bottom: 1.3rem;
    justify-content: center;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: relative; */
    z-index: 2;
  }
  .valuesList {
    display: block;
    margin: auto;
    width:fit-content;
  }
 
}
