@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Rg.ttf"), format("truetype");
}
webkit-details-marker {
    display: none;
}
summary {
    display: block;
}
.mainSlider {
    margin-top: 160px;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 167rem; */
    /* padding-left: 2rem;
  padding-right: 2rem; */
}
.homeTitle {
    font-size: 6rem;
    margin-bottom: -1.5rem;
    line-height: 8rem;
    text-align: center;
    /* font-weight: 700; */
    max-width: 115rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: "ProbaPro-Bold";
    /* z-index: 1; */
}
.mainSlider_content {
    padding-bottom: 0;
    height: 84rem;
    position: relative;
}

.mainSlider_nav {
    position: absolute;
    bottom: 20rem;
    display: flex;
    /* z-index: 3; */
    left: -4rem;
    right: -4rem;
    transform: translate(1rem, -50%);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.05em;
    transition: 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.mainSlider_content ul {
    display: flex;
    list-style-type: none;
}

.swiper_item {
    width: auto;
    margin-top: 11rem;
    background-color: #0d0d19;
    display: inline-block;
    flex-shrink: 0;
    will-change: transform, opacity;
}

.home-work {
    margin-top: 10rem;
    transform: none;
    padding-bottom: 0;
    width: 101rem;
    height: 60rem;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.home-work .tilter_figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-work .mainSlider_info {
    transform: translateY(0);
    bottom: 4.1rem;
    left: -6rem;
}
.mainSlider_info {
    max-width: 65rem;
    position: absolute;
    text-align: left;
    /* z-index: 3; */
    line-height: 0.7;
    height: auto;
    transition: 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.mainSlider_info_title {
    color: white;
    font-weight: 800;
    line-height: 1.2;
    /* opacity: 0; */
    letter-spacing: 0.005em;
    margin-bottom: 1em;
    font-size: 5.2rem;
    transition: 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    bottom: 0;
    left: -40px;
    position: absolute;
}
.mainSlider_info_more {
    /* opacity: 0; */
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Proxima Nova", sans-serif;
    pointer-events: all;
    transition: 0.6s cubic-bezier(0.7, 0, 0.3, 1);
    display: inline-block;
}
.mainSlider_info_more span {
    display: inline;
    color: #fff;
    transition: 0.15s;
    background-image: linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.5) 1px,
        transparent 0
    );
    background-position: bottom 0 center;
    font-size: 1.8rem;
}
.home-work_photo-wrapper {
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-color: #0d0d19;
}

.slider_prev {
    background-color: transparent;
    border: none;
    color: white;
    padding: 1.5em;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: "Proxima Nova", sans-serif;
}
.slider_next {
    background-color: transparent;
    border: none;
    color: white;
    margin-top: -27rem;
    padding: 1.5em;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: "Proxima Nova", sans-serif;
}
.slider_next_button {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0rem;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 0%;
    /* border: 1px solid #ffffff; */
    border: none;
    /* z-index: 4; */
    background-color: #2c5bbc;
}
.services_content {
    /* margin: 0 -2rem; */
    position: relative;
    padding-top: 0;
}

.red-circle-serv {
    position: absolute;
    top: -2%;
    left: 0;
     width: 600px;
    /* height: 700px; */
    z-index: -1;
}

.red-circle-serv img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.red-circle-feedback{
  position: absolute;
  top: 3%;
  right: -40%;
  transform: rotate(180deg);
   width: 50%;
  /* height: 700px; */
  z-index: -1;
}

.red-circle-feedback img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.services_title {
    font-size: 2.4rem;
    margin-bottom: 6rem;
    margin-top: 10rem;
    text-align: left;
    padding: 0 2rem;
    font-weight: 700;
    color: var(--primary);
    /* color: #8e2442; */
    letter-spacing: 0.05em;
    max-width: 132rem;
    margin-left: auto;
    margin-right: auto;
}
.services_next {
    background-image: url("../images/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: absolute;
    top: -13.5rem;
    right: 20px;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
    /* z-index: 4; */
    background-color: transparent;
}

.services_slider {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    transition-duration: 0ms;
    transform: translate3d(-10000px, 0px, 0px);
    height: 515px;
}

.services_slider-item {
    width: 125rem;
    padding-left: 13.5rem;
    transition: 0.4s;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: stretch;
}
.home-work.services {
    display: none;
}
.small-container {
    padding: 0 1rem; /*0 2rem*/
    transition: 0.6s;
    max-width: 138rem; /*130rem*/
    margin-left: auto;
    margin-right: auto;
}

.section_title {
    margin-bottom: 0.4em;
    font-size: 8.6rem;
    line-height: 1.2;
}
.section_desc {
    line-height: 1.25;
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 1.5em;
    max-width: 100rem;
    margin-left: 0;
    margin-right: auto;
    letter-spacing: 0.025em;
    font-family: "Proxima Nova", sans-serif;
}
.section_desc .cont {
    font-family: ProbaPro;
    line-height: 1.5 !important;
    font-size: 2rem;
}
.services_more {
    color: white;
    text-decoration: none;
    /* border-bottom: 1px solid white; */
    /* margin-bottom: 2.5rem;
  position: relative;
  bottom: auto;
  right: auto;
  font-size: 3rem; */
    margin-bottom: 2.5rem;
    line-height: 40px !important;
    position: relative;
    bottom: auto;
    right: auto;
    font-size: 3rem;
}

.services_dots ul {
    justify-content: flex-start;
    display: flex;
    margin: 0 -10rem;
    list-style-type: none;
}
.services_dots ul li {
    padding-left: 3.5rem;
}
.services-dot {
    padding: 4rem;
    text-align: left;
    font-size: 1.8rem;
    color: #ffffff;
    opacity: 0.4;
    line-height: 1.5;
    position: relative;
    border: none;
    background-color: transparent;
    font-weight: 400;
}
.services-dot ::before {
    content: "";
    position: absolute;
    left: 2rem;
    top: 4.5rem; /* Adjust the vertical alignment of the bullet */
    width: 1rem; /* Set the desired bullet size */
    height: 1rem; /* Set the desired bullet size */
    background-color: #e4abab; /* Set the desired bullet color */
    border-radius: 50%;
}

.services_buttons {
    display: flex;
    margin-top: 2rem;
    justify-content: start;
    width: fit-content;
    /* padding-left: 1rem; */
}
.services_buttons .btn {
    width: auto;
    margin-left: 2.5rem;
    /* min-width: 25rem; */
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 5rem;
    padding: 0 1.6em;
    border-radius: 99rem;
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.services_grid {
    position: absolute;
    left: 16.1rem;
    top: -3rem;
    pointer-events: none;
    /* background-color: yellow; */
    /* background: yellow  url(../images/home-grid.png);; */
    background-image: url(../images/home-grid.png);
    background-size: cover;
    /* filter: brightness(1); */
    /* filter: invert(100%); */
    opacity: 0.7;
    filter: saturate(200%) invert(100%);

    /* filter: hue-rotate(258deg); */
    width: 100.5rem;
    height: 67.2rem;
    background-size: contain;
    /* z-index: -1; */
}
.serv-mobile-item {
    border: 1px solid #7aaaff;
    padding: 10px 15px;
    border-radius: 25px;
}

.first {
    background-color: var(--btn);
    font-size: 16px;
    font-family: "Inter-Bold";
    margin-right: 30px;
}
.second {
    background-color: var(--dark-primary);
    font-size: 16px;
    font-family: "Inter-Bold";
    transition: all 0.3s ease;
    /* border: 1px solid #3c73d3; */
}

.feedback-section {
  position: relative;
    margin: 20rem 0 5rem;
}
.feedback_form {
    margin: 0 5rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 115rem;
}
label {
    display: inline-block;
    vertical-align: middle;
}
.field {
    margin: 3rem 5rem 1rem 0 !important;
    width: 40%;
    /* position: relative; */
}
.field-textarea {
    margin: 3rem 5rem 1rem 0 !important;
}
.field_comment {
    margin: 5rem;
    width: 100%;
    /* position: relative; */
}
.field-input {
    height: 8rem;
    font-size: 2.4rem;
    width: 95%;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: white;
    /* font-size: 2.4rem; */
}

.field-input_title {
    /* left: 5rem; */
    font-weight: 400;
    display: block;
    /* top: 2.75rem; */
}
.btn-submit {
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.075em;
    background-color: transparent;
    color: white;
    border: none;
}
.btn-submit:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    background-size: contain;
    background-image: url(right_arrow.png);
    width: 6.3rem;
    height: 3.2rem;
    margin-left: 4rem;
    transition: 0.2s;
}

.about_company {
    padding-top: 10rem;
    position: relative;
}
.about_company p {
    color: #fff;
    opacity: 0.5;
}
.side-text-wrapper {
    position: absolute;
    color: rgba(255, 0, 0, 0.1);
    left: -10rem;
    top: -5rem;
    font-size: 20rem;
    line-height: 0.9;
    /* z-index: -1; */
    font-family: Bebas Neue, sans-serif;
    text-transform: capitalize;
    /* text-shadow: -1px 0 #abc1e4, 0 1px #abc1e4, 1px 0 #abc1e4, 0 -1px #abc1e4; */
    opacity: 0.4;
    font-weight: 700;
}
.about_company .small-container {
    display: block;
    align-items: stretch;
    position: relative;
}
.about_company_left {
    width: 59%;
}
.about_company_title {
    font-size: 7.2rem;
    margin-bottom: 0.9em;
    font-weight: 800;
}
/* .about_company_title .title_back{
    position: relative;
    transition: width 2s;

} */
.about_company_title .title_back {
    width: 0%;
    height: 70px;
    content: "";
    /* background-color: #f6074a; */
    background-color: var(--primary);
    position: absolute;
    /* z-index: 0; */
    transition: width 5s ease;
    /* transform: scale(0.2);  */
    /* width: calc(100%*var(--progress) + 0.3em); */
    /* -webkit-transform: translateZ(0); */
}
.about_company_title:first-child {
    top: 0.15em;
    left: -0.1em;
    /* width: 100%;*/
}
.about_company_title:nth-child(3) {
    bottom: 0;
    left: -0.1em;
    /* width: 100%;
  height: 70px; */
}

.about_company_title .word {
    position: relative;
    /* z-index: 2; */
}

/* .about_company_title .title_back{
  height: 50px;
} */
.about_company_sml {
    max-width: 62rem;
    line-height: 1.25;
    font-size: 2.7rem;
    color: #fff;
    opacity: 0.7;
    /* font-family: Proxima Nova Rg,sans-serif; */
}
.about_company_sml p {
    margin-bottom: 1.5em;
}

.about_company_right {
    width: 41%;
    padding-top: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.right_desc {
    max-height: 100%;
    /* box-sizing: border-box; */
    /* overflow: auto; */
    display: flex;
}
.scroll_content {
    /* scrollbar-width: thin; */
    overflow-x: hidden !important;
    /* overflow-y: scroll; */
    min-width: 100% !important;
    max-height: inherit !important;
    box-sizing: content-box !important;
}

.scroll_content::-webkit-scrollbar {
  display: flex !important;
    width: 2rem;
}

.scroll_content::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 99rem;
    opacity: 0;
    /* color: #ff7a7a; */
    /* border: 1px solid #320d1f; */
    z-index: 1;
}
.scroll_content::-webkit-scrollbar-thumb {
    background: #e4abab;
    border-radius: 99rem;
    height: 20px;
}

.scroll_desc {
    color: #ff6b6b;
    padding-right: 6rem;
    overflow-y: hidden !important;
    /* overflow-x: scroll; */
    box-sizing: border-box !important;
    /* width: 41%; */
    min-height: 100% !important;
}

.scroll_desc * {
    font-size: 2rem;
    line-height: 1.1;
}
.scroll_desc h2 {
    color: white;
}

/*карусель*/

.slide-text {
    position: absolute;
    bottom: 20px;
    left: -80px;
    color: white;
    font-size: 5.2rem;
    font-weight: 600;
    /* font-size: 6rem;
  font-weight: 800; */
    padding: 10px;
    z-index: 999;
}

.slide-a {
    /* left:-80px; */
    font-size: 18px;
    line-height: 30px !important;
    /* text-decoration: underline; */
    transition: all 0.5s ease;
}

.slide-a:hover {
    text-decoration: none;
}
.slide-span {
    left: -80px;
}

.carousel-custom {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.slick-track,
.slick-list {
    width: 100%;
}

/* .carousel-custom .slick-list {
  overflow: hidden;
} */

/* Основной стиль слайдера */
/* Стиль для всех слайдов */

/* Стиль для всех слайдов */
.serv-slider .slick-slide {
    opacity: 0.5; /* Более прозрачные для неактивных слайдов */
    transition: opacity 0.5s; /* Плавный переход */
    width: 70vw;
}

/* Стиль для активного слайда */
.serv-slider .slick-slide.slick-current {
    opacity: 1; /* Активный слайд полностью непрозрачный */
    /* width: 70vw;  */
}

.serv-slider {
    margin-left: 15.5%;
}

.services-dot.active-dot {
    /* здесь могут быть стили для изменения внешнего вида активного элемента */
    opacity: 1;
}
.carousel-custom .slick-slide {
    /* transition: transform 0.5s ease, opacity 0.5s ease; */
    transition: all 0.8s ease;
    position: relative;
    /* z-index: 1; */
    opacity: 0.5; /* Полупрозрачность для всех слайдов */
    /* max-width:50% */
    width: auto;
    margin: 0 40px;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    z-index: -1;
}

/* Увеличиваем и делаем непрозрачным текущий слайд */
.carousel-custom .slick-slide.slick-current {
    /* z-index: 2; */
    opacity: 1;
    transform: scale(1);
    z-index: -1;

    /* max-width:100%; */
}

/* Стили для изображений в слайдах */
.carousel-custom-item img {
    object-fit: cover;
    max-width: 110rem;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    margin: auto;
}

.carousel-custom-item {
    display: block;
    position: relative;
}

/* Стили для пользовательских стрелок */
.next-cust-button {
    position: absolute;
    z-index: 3; /* Высокий z-index для видимости над слайдами */
    top: 40%;
}
.prev-cust-button {
    position: absolute;
    z-index: 3; /* Высокий z-index для видимости над слайдами */
    top: 60%;
}

.prev-cust-button {
    font-size: 36px;
    font-weight: 700;
    left: 230px;
    transform: translate(0, -50%);
}

.next-cust-button {
    font-size: 36px;
    right: 230px;
    font-weight: 700;
    transform: translate(0, -50%);
}
.contacts_request_ {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1850px) {
    .prev-cust-button {
        left: 170px;
    }

    .next-cust-button {
        right: 170px;
    }
}

/* Стили для затемнения неактивных слайдов */
.carousel-custom .slick-slide:not(.slick-current) .carousel-custom-item img {
    filter: brightness(50%); /* Затемняем изображения */
}
/* Скрываем текст и кнопку на всех слайдах */
.carousel-custom .slick-slide .slide-text,
.carousel-custom .slick-slide .slide-a {
    display: none;
}

/* Отображаем текст и кнопку только на активном слайде */
.carousel-custom .slick-slide.slick-current .slide-text,
.carousel-custom .slick-slide.slick-current .slide-a {
    display: inline-block; /* или используйте 'flex', 'inline', 'inline-block' в зависимости от вашей верстки */
}

/* Стиль для всех активных слайдов (предполагается, что это будет влиять на предыдущий слайд) */
/* Сброс стилей для всех активных слайдов */
/* Стили для предыдущего слайда */
.carousel-custom .prev-slide {
    margin-top: 150px;
    /* width:50%; */
}

.carousel-custom .next-slide {
    margin-top: 10px;
    /* width:50%; */
}

.carousel-custom .slick-current {
    margin-top: 70px;
}

/* .carousel-custom {
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.carousel-custom-item {
  /* margin: 10px 5px; */
/* display: flex; */
/* flex-direction: column; */
/* } */

/* .slick-prev {
  left: 0;
} */
.slick-prev {
    position: absolute;
    top: 38%;
    left: -4%;
}
/* .slick-next {
  right: 0;
} */
.slick-next {
    position: absolute;
    top: 38%;
    right: -2%;
}
/* .carousel-custom-item img{
  width: 92%;
  position:relative;
  display: flex;
  margin:auto;
} */

.button_prev {
    position: absolute;
    bottom: 0;
    left: 0;
}
.button_next {
    position: absolute;
    top: 0;
    right: 0;
}

.button-block {
    display: inline-block;
    font-size: 4rem;
}
.mock {
    width: 50px;
    height: 100px;
    /* background-color: red; */
}
.slick-slider {
    display: flex;
}
*/
/*как же я уже не могу господи*/
.field-input_title {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
}
.field-input::placeholder {
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.3s ease;
    color: #fff;
}

.field-input:focus::placeholder {
    transform: translateY(-100%) scale(0.8, 0.8);
    transform-origin: left top;
    font-size: 16px;
    color: #999;
}

.mobile-serv-slider {
    display: none;
}

/* Добавляем класс для анимации */
.modal-content {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.slide-out {
    transform: translateY(100%);
}

/* Определяем анимацию slideOut */
@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@media (max-width: 1440px) {
    .mainSlider {
        margin-top: 125px;
    }
    .field-input:focus::placeholder {
        transform: translateY(-74%) scale(0.8, 0.8);
    }

    .prev-cust-button {
        /* left:5% !important; */
        top: 50%;
    }
    .next-cust-button {
        /* right:5% !important; */
        top: 40%;
    }

    .carousel-custom {
        margin-top: 30px;
    }
    .carousel-custom .slick-slide {
        margin-left: 50px;
        margin-right: 50px;
    }
}
/**/

@media (max-width: 1600px) {
    /* .field-input {
    width: 90%;
  } */

    /* .field-textarea {
    width: 83%;
    margin-left: 10px !important;
  } */
    .field-input:focus::placeholder {
        transform: translateY(-50%) scale(0.8, 0.8);
    }
}
@media (max-width: 1440px) {
    .serv-slider {
        margin-left: 5%;
    }
    .typing-text {
        font-size: 16px;
        margin-top: 15px;
    }
}
@media (max-width: 1550px) {
    .serv-slider {
        margin-left: 6%;
    }
}

@media (max-width: 1100px) {
    .carousel-custom .slick-slide {
        margin-left: 50px;
        margin-right: 50px;
    }

    .prev-cust-button,
    .next-cust-button {
        font-size: 28px;
    }
    .prev-cust-button {
        top: 70%;
        font-size: 24px;
    }
    .next-cust-button {
        top: 30%;
        font-size: 24px;
    }

    .slide-text {
        left: -40px;
    }

    .slide-title {
        font-size: 4.7rem;
        backdrop-filter: blur(6px);
    }

    .serv-slider {
        margin-left: 4%;
    }
}

@media (max-width: 1024px) {
    .side-text-wrapper {
        left: 5rem;
        top: -5rem;
        font-size: 15rem;
    }
    .prev-slide, .next-slide
  /* , .slick-current */ {
        margin-top: 70px !important;
    }

    .prev-cust-button {
        top: 50%;
        left: 11% !important;
    }
    .next-cust-button {
        right: 10% !important;
        top: 50%;
    }
    .slide-text {
        bottom: 5px;
    }
    .slide-a {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .slider_prev {
        margin-bottom: 90px;
    }
}

@media (max-width: 991px) {
    .cursor-inner,
    .cursor-outer {
        display: none;
    }
    .mobile-serv-slider {
        display: block;
    }
    .mobile-none {
        display: none !important;
    }
    .desktop-none {
        display: block !important;
    }
    #closeModalButton {
        display: block !important;
    }
    .serv-mobile-item {
        position: relative;
        margin-left: 100px;
        max-height: 625px;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 20px;
    }
    .serv-mobile-item .section_desc {
        color: #b2afb2;
        font-family: "Proxima Nova", sans-serif !important;
    }
    .serv-mobile-p {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .serv-mobile-a {
        margin-right: 16px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
    }
    .serv-mobile-dots {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: #6ba1ff;
        border-radius: 50%;
    }
    .serv-mobile-dots.active-mobile-dot {
        background-color: #fff;
    }
    .services_title {
        font-size: 24px;
    }

    .dots-container {
        width: 150px;
        margin: auto;
        margin-top: 30px;
    }

    .services_buttons {
        margin-top: 6rem;
        padding: 20px;
        font-size: 24px;
    }

    .services-buttons .btn {
        margin-top: 30px;
        padding: 20px 10px;
    }
    .services-buttons .btn span {
        font-size: 24px;
    }
    .form-container {
        margin: 0 6rem;
    }

    .text-collapsed {
        max-height: 420px;
        overflow: hidden;
    }
    .show-more-block {
        display: flex;
    }
    .show-more-block p,
    .hide-more-block p {
        font-size: 18px;
        opacity: 0.4;
    }
    .show-more-btn,
    .hide-more-btn {
        margin-left: 10px;
        background-color: #7aaaff;
        border: none;
        height: 32px;
        opacity: 0.8;
        color: #fff;
        border-radius: 50%;
        padding: 6px; /* Регулируйте padding для изменения размера кнопки */
        cursor: pointer;
        animation: pulse 2s infinite;
    }

    .show-more-btn svg,
    .hide-more-btn svg {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .pulse {
        width: fit-content;
        background: rgb(122, 170, 255);
        cursor: pointer;
        box-shadow: 0 0 0 rgba(122, 170, 255, 1);
        animation: pulse 2s infinite;
    }

    .pulse:hover {
        animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.8);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.8);
            box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    .feedback-section {
        padding-right: 50px !important;
    }
}

@media (max-width: 880px) {
    .slider_next_button {
        display: inline;
    }
    .mainSlider_nav {
        display: none;
    }
    .home-work .mainSlider_info {
        left: 0;
        transform: translateY(0);
        bottom: -22rem;
    }
    .mainSlider_info_more {
        display: none;
    }
    .small-container {
        display: none;
    }
    .home-work.services {
        display: block;
    }
    .feedback-section {
        margin: 5rem 3rem 5rem;
    }
    .services_next {
        right: 1rem;
        top: 10.5rem;
    }
    .services_title {
        /* text-align: center; */
        font-size: 4.4rem;
    }
    .section_title {
        text-align: center;
        font-size: 7.6rem;
    }
    .about_company_left {
        width: 100%;
    }
    .about_company_sml {
        max-width: 100%;
    }
    .about_company_right {
        width: 100%;
        /* padding-top: 1.5rem; */
        position: relative;
    }
}
@media (max-width: 349px) {
    .about_company_title .title_back:nth-child(1) {
        height: 86px;
    }
}
@media (max-width: 768px) {
    /* .prev-slide, .next-slide, .slick-current {
    margin-top: 40px!important;
} */
    .about_company_sml {
        font-size: 3.5rem !important;
    }
    .scroll_desc * {
        font-size: 3.5rem !important;
    }
    .carousel-custom .slick-slide {
        margin-left: 20px;
        margin-right: 20px;
    }
    .carousel-custom {
        margin-top: 0px;
    }
    .serv-mobile-p {
        font-size: 20px !important;
    }
    .section_desc {
        font-size: 2.5rem !important;
    }
    .serv-mobile-item {
        /* position: relative; */
        margin-left: 10px;
        max-width: 350px !important;
    }
    .prev-cust-button {
        font-size: 18px;
        top: 50%;
        left: 13% !important;
    }
    .next-cust-button {
        font-size: 18px;
        top: 50%;
        right: 13% !important;
    }
    .slide-text {
        bottom: -12px;
    }

    /* .slide-title{
  font-size:20px;
} */
}

@media (max-width: 720px) {
    .feedback_form {
        margin: 0;
        padding: 0;
    }
    .feedback_form .field {
        width: 100%;
    }
    .next-cust-button {
        top: 18%;

        right: 5% !important;
        background-color: #7aaaff;
        padding: 10px;
    }
    .prev-cust-button {
        top: 18%;

        left: 5% !important;
        background-color: #7aaaff;
        padding: 10px;
    }
}
@media (max-width: 670px) {
    .home-work {
        width: 90rem;
    }
}
@media (max-width: 600px) {
    .home-work {
        width: 80rem;
    }
    .section_title {
        font-size: 6.6rem;
    }
    .field {
        margin: 3rem 5rem 1rem 0 !important;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home-work {
        width: 70rem;
    }

    .prev-cust-button {
        font-size: 16px;
    }
    .next-cust-button {
        font-size: 16px;
    }

    /* .slide-text{
    top:40%;
  } */
    .prev-cust-button {
        font-size: 18px;
        top: 30.6%;
        left: 1% !important;
    }
    .next-cust-button {
        font-size: 18px;
        top: 30%;
    }
    .next-cust-button i {
        font-size: 18px;
        font-weight: 700;
    }
    .slide-text {
        bottom: -6px;
        left: -6%;
    }
    /* .slide-title{
    font-size:14px;
  } */
}
@media (max-width: 440px) {
    .home-work {
        width: 60rem;
    }
    .section_title {
        font-size: 6.6rem;
        font-weight: 700;
        text-align: start !important;
    }
    .carousel-custom {
        margin-top: 0px;
    }
    .serv-mobile-p {
        font-size: 5rem;
        font-weight: bold;
    }
    .section_desc {
        line-height: 4.5rem;
        font-size: 3rem;
    }
    .services_buttons .btn {
        font-size: 3rem;
        height: 12rem;
        padding: 0px 3.6em;
    }
    .field-input {
        height: 9rem;
        font-size: 10rem;
    }

    .field-input::placeholder {
        font-size: 16px;
    }
    .start {
        font-size: 40px;
    }

    .mobile-menu-url {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    #closeModalButton {
        top: 20px !important;
        right: 20px !important;
    }
}
