.portfolioIntro{
  position: relative;
}


.blog_cats ul{
  white-space: nowrap;
  /* display: flex;
  justify-content: space-between;
  align-items: center;*/
  width: 130rem; 
  /* margin: 0 -0.6em; */
  list-style-type: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



/* .row_p {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130rem;
} */
.row_p li{
  font-size: 2.5rem;
  font-weight: 200;
  margin: 0 3rem 0 0;

}
.portfHeader{
  display: none;
  position: absolute;
  top: -8rem;
  left: -3rem;
}
.portfHeader span{
  /* margin: 0 1.5rem 0 2rem; */
  margin: 1.3rem;
  padding: 1.2rem;
}
.add-padding{
  padding-top: 15rem;
}

.element {
  margin: 20px 20px 20 px 0px;
  color: #a0989e;
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Initial underline color is transparent */
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.element.selected {
  color: white;
  border-color: #e31e24; /* Underline color when selected */
}
.grid_portfolio {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem 10rem;
}

.grid-item{
    position: relative;
}

.item4,
.item6,
.item8,
.item10 {
  margin-top: 5rem;
  /* grid-row: 1 / span 2;  */
}
/* .columnPort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.gridText {
  margin: 4rem 0rem 0rem 3.5rem;
  /* max-width: 45rem; */
}
.columnPort img {
  width: 95%; /* Set your desired image width */
  height: auto; /* Keep aspect ratio */
  margin-bottom: 10px;
}
.subtitle {
  color: #a0989e;
  font-size: 2.4rem;
  margin: 0rem 0rem 2rem 1rem;
}
.rowPort {
  /* display: flex;
  align-items: top; */
  margin-bottom: 10px;
}

.line {
  width: 12.2rem;
  height: 0.2rem;
  background-color: white;
  margin: 5px 15px 0px 0px;
  /* Set the desired color for the line */
}

.gridTitle {
  font-size: 6.2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.08rem;
  text-align: left;
}

 /*///////////////////////////// SLICK SLIDER AT THE BOTTOM OF ONEPROJECT ///////////////////////////*/


 .arrows {
   font-weight: 400;
   font-size: 24px;
 }
 
 .slider__portf {
   height: 45%;
   text-align: center;
   
   img{
     display: block;
     margin-top: 4rem;
     /* width: 400px!important; */
   }
 }

 
.reload {
  position: relative;
  margin: 10rem 0 0 0!important  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
}
.loading {
  animation: loadMore 3s linear infinite;
}
@keyframes loadMore {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}

/* @keyframes loadMore {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg); 
  }
} */
.reload-icon img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-bottom: 20px; */
  /* width: 8.5rem; */
  /* Add any other styles you want for the reload icon */
}

.reloadText {
  position: absolute;
  top: 50%;
  font-size: 2.9rem;
  border-bottom: 1px dashed #ffffff;
  /* Add any other styles you want for the text */
}
.blur-effect {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

/* Этот класс будет применяться к изображениям для предотвращения их размытия */
.no-blur {
  filter: none !important;
}
/* Стиль для изображений */
.content img {
  transition: transform 0.3s ease; /* Плавный переход */
}

/* Стиль для увеличения масштаба только при наведении на текущее изображение */
.content img:hover {
  transform: scale(1.1); /* Увеличивает размер на 10% */
}

.arrow {
  position: absolute;
  padding: 50px;
  top: -50px; /* Позиционирование стрелки сверху */
  right: 20px; /* Позиционирование стрелки справа */
  transform: translateY(100%); /* Начальное скрытие стрелки вниз */
  width: 0;
  height: 0;
  background-color: #477edd;
  opacity: 0; /* Скрытие стрелки */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 1024px) {
.portfHeader{
  display: flex;
}

.blog_cats_wrapper{
  width: 150%;
  overflow: hidden;
  margin: -2.5rem -5rem -0.5rem 0;

}
.blog_cats{
  
  margin-bottom: -3.5rem;
    font-size: 1.8rem;
    overflow: auto;
    padding: 2.5rem -1rem 3.5rem ;
    -webkit-overflow-scrolling: touch;
  font-size: 2rem;

}
.blog_cats ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
 width: 100%;
  /* margin: 0 -0.6em; */
}
.row_p li{
  padding: 0 0.6em;
}
}
@media (max-width: 991px) {
.blog_cats_wrapper{
  width: 104%;
}
.grid_portfolio {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.add-padding{
  padding-top: 0;
}
.row_p li {
  font-size: 3.6rem;
}
}
@media (max-width: 720px) {
  html {
    font-size: 5px;
  }
  /* .gridText{
        max-width: 30rem;
    } */
  .row_p {
    display: none;
  }
  .grid_portfolio {
    grid-gap: 2rem 4rem;
  }
  .item2 {
    margin-top: 4rem;
    /* grid-row: 1 / span 2;  */
  }
  .item4,
  .item6,
  .item8,
  .item10 {
    margin-top: 2rem;
    /* grid-row: 1 / span 2;  */
  }
  /* img{
      width: 50%;
    } */
}


@media (max-width: 475px) {

.portfHeader{
  top: -14rem;
  left: 32%;
}

  .columnPort img {
    /* width: 70%;
    margin-left: 40px; */
    text-align: center;
  }
  .gridText {
    max-width: 50rem;
  }
}
